
/* .breadcrumb-item ---  */
.breadcrumb-item::before {
    content: ">";
}

.breadcrumb {
    background-color: #1c415e !important;
}

.breadcrumb_container {
    margin-left: 2%;
    display: block;
    float: left;
}

