body {
    background-color: #101f44;
    color: whitesmoke;
}

header {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer {

}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-nav {
    min-width: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.App-nav a:link, a:visited {
    background-color: #256680;
    color: white;
    padding: 1vh 7vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.App-nav a:hover, a:active {
    background-color: #235C75;
}

span {
  color: whitesmoke;
  font-family: Courier, sans-serif;
  font-style: italic;
  font-size: 120%
}

span.error {
    color: #fa5855;
    text-transform: uppercase;
}


button.button {
    min-width: 150px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: whitesmoke;
    padding: .3em 1em;
    outline: none;
    background: #256680;
}

button.button:hover {
  background: #235C75;
}

button.button:disabled {
    background: #700D12;
}

.center-container {
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ConnectionFormErrors {

}

.Status-bar-div {
    align-self: flex-end;
    padding: 5vh;
}
