body {
    background-color: #101f44;
    color: whitesmoke;
    width: 99%;
}

::-webkit-scrollbar {
    background-color: #101f44; /* 1 - скроллбар */
}

::-webkit-scrollbar-button {
    background-color: #235C75; /* 2 - кнопка */
}

::-webkit-scrollbar-track {
    background-color: #101f44; /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
    background-color: #101f44; /* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb {
    background-color: #235C75; /* 5 - ползунок */
}

::-webkit-scrollbar-corner {
    background-color: #101f44; /* 6 - уголок */
}

::-webkit-resizer {
    background-color: #1c415e; /* 7 - изменение размеров */
}

header {
    min-height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {

}

.App-nav {
    min-height: 20%;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.App-nav a:link, a:visited {
    background-color: #256680;
    color: white;
    padding: 1vh 7vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.App-nav a:hover, a:active {
    background-color: #235C75;
}

span {
    color: whitesmoke;
    font-family: Courier, sans-serif;
    font-style: italic;
    font-size: 110%
}

span.error {
    color: #fa5855;
    text-transform: uppercase;
}

span.cursor {
    cursor: pointer;
}

span.fromXML {
    color: #e3e648;
}

span.fromDatabase {
    color: rgba(3, 254, 34, 0.91);
}

button.button {
    min-width: 150px;
    width: 150px;
    position: relative;
    display: inline-block;
    font-weight: 700;
    color: whitesmoke;
    padding: .3em 1em;
    outline: none;
    background: #256680;
}

button.button:hover {
    background: #235C75;
}

button.button:disabled {
    background: #700D12;
}

.center-container {
    padding: 2%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ConnectionFormErrors {

}

.Status-bar-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Status-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2%;
}

.Save-load-tree-div {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.Database-tree-table {
    width: 100%;
    display: flex;
    flex-direction: row;
    max-height: 90vh;
}

.Tree {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

.SubmitBlock {
    min-width: 50vh;
    display: flex;
    flex-direction: column;
}

.Table {
    min-width: 55%;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
}

.custom-react-table {
    width: 98%;
}

.hiddenNode {
    display: none;
}
